<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>logInServlet</display-name>
  	<servlet-name>logInServlet</servlet-name>
  	<servlet-class>servlets.logInServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>prikazDetaljaServlet</display-name>
  	<servlet-name>prikazDetaljaServlet</servlet-name>
  	<servlet-class>servlets.prikazDetaljaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>prodajaKarteServlet</display-name>
  	<servlet-name>prodajaKarteServlet</servlet-name>
  	<servlet-class>servlets.prodajaKarteServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>prodajKartu</display-name>
  	<servlet-name>prodajKartu</servlet-name>
  	<servlet-class>servlets.prodajKartu</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ocenaFilmaServlet</display-name>
  	<servlet-name>ocenaFilmaServlet</servlet-name>
  	<servlet-class>servlets.ocenaFilmaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>unesiFilmaServlet</display-name>
  	<servlet-name>unesiFilmaServlet</servlet-name>
  	<servlet-class>servlets.unesiFilmaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>unosFilmaServlet1</display-name>
  	<servlet-name>unosFilmaServlet1</servlet-name>
  	<servlet-class>servlets.unosFilmaServlet1</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>unosRepertoara</display-name>
  	<servlet-name>unosRepertoara</servlet-name>
  	<servlet-class>servlets.unosRepertoara</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>unosRadnikaServlet</display-name>
  	<servlet-name>unosRadnikaServlet</servlet-name>
  	<servlet-class>servlets.unosRadnikaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>prikazProfitaServlet</display-name>
  	<servlet-name>prikazProfitaServlet</servlet-name>
  	<servlet-class>servlets.prikazProfitaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>pretragaSaleServlet</display-name>
  	<servlet-name>pretragaSaleServlet</servlet-name>
  	<servlet-class>servlets.pretragaSaleServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>slobodnaMestaServlet</display-name>
  	<servlet-name>slobodnaMestaServlet</servlet-name>
  	<servlet-class>servlets.slobodnaMestaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>pretragaDatumaServlet</display-name>
  	<servlet-name>pretragaDatumaServlet</servlet-name>
  	<servlet-class>servlets.pretragaDatumaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>pretragaNazivServlet</display-name>
  	<servlet-name>pretragaNazivServlet</servlet-name>
  	<servlet-class>servlets.pretragaNazivServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>pretragaVremenaServlet</display-name>
  	<servlet-name>pretragaVremenaServlet</servlet-name>
  	<servlet-class>servlets.pretragaVremenaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>pretragaZanraServlet</display-name>
  	<servlet-name>pretragaZanraServlet</servlet-name>
  	<servlet-class>servlets.pretragaZanraServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>rezervisiKartuServlet</display-name>
  	<servlet-name>rezervisiKartuServlet</servlet-name>
  	<servlet-class>servlets.rezervisiKartuServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>sacuvajKomentarServlet</display-name>
  	<servlet-name>sacuvajKomentarServlet</servlet-name>
  	<servlet-class>servlets.sacuvajKomentarServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>pregledRezervacija</display-name>
  	<servlet-name>pregledRezervacija</servlet-name>
  	<servlet-class>servlets.pregledRezervacija</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>registracijaServlet</display-name>
  	<servlet-name>registracijaServlet</servlet-name>
  	<servlet-class>servlets.registracijaServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>prikazRepertoaraGost</display-name>
  	<servlet-name>prikazRepertoaraGost</servlet-name>
  	<servlet-class>servlets.prikazRepertoaraGost</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>prikazRepertoaraAdmin</display-name>
  	<servlet-name>prikazRepertoaraAdmin</servlet-name>
  	<servlet-class>servlets.prikazRepertoaraAdmin</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>logOutServlet</display-name>
  	<servlet-name>logOutServlet</servlet-name>
  	<servlet-class>servlets.logOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logInServlet</servlet-name>
  	<url-pattern>/logInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prikazDetaljaServlet</servlet-name>
  	<url-pattern>/prikazDetaljaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prodajaKarteServlet</servlet-name>
  	<url-pattern>/prodajaKarteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prodajKartu</servlet-name>
  	<url-pattern>/prodajKartu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ocenaFilmaServlet</servlet-name>
  	<url-pattern>/ocenaFilmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>unesiFilmaServlet</servlet-name>
  	<url-pattern>/unesiFilmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>unosFilmaServlet1</servlet-name>
  	<url-pattern>/unosFilmaServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>unosRepertoara</servlet-name>
  	<url-pattern>/unosRepertoara</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>unosRadnikaServlet</servlet-name>
  	<url-pattern>/unosRadnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prikazProfitaServlet</servlet-name>
  	<url-pattern>/prikazProfitaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pretragaSaleServlet</servlet-name>
  	<url-pattern>/pretragaSaleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>slobodnaMestaServlet</servlet-name>
  	<url-pattern>/slobodnaMestaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pretragaDatumaServlet</servlet-name>
  	<url-pattern>/pretragaDatumaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pretragaNazivServlet</servlet-name>
  	<url-pattern>/pretragaNazivServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pretragaVremenaServlet</servlet-name>
  	<url-pattern>/pretragaVremenaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pretragaZanraServlet</servlet-name>
  	<url-pattern>/pretragaZanraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>rezervisiKartuServlet</servlet-name>
  	<url-pattern>/rezervisiKartuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>sacuvajKomentarServlet</servlet-name>
  	<url-pattern>/sacuvajKomentarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>pregledRezervacija</servlet-name>
  	<url-pattern>/pregledRezervacija</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registracijaServlet</servlet-name>
  	<url-pattern>/registracijaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prikazRepertoaraGost</servlet-name>
  	<url-pattern>/prikazRepertoaraGost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>prikazRepertoaraAdmin</servlet-name>
  	<url-pattern>/prikazRepertoaraAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logOutServlet</servlet-name>
  	<url-pattern>/logOutServlet</url-pattern>
  </servlet-mapping>
  
</web-app>
