<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>unosFilmaServlet1</servlet-name>
  	<display-name>unosFilmaServlet1</display-name>
  	<description></description>
  	<servlet-class>servlets.unosFilmaServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>unosRepertoaraServlet</servlet-name>
  	<display-name>unosRepertoaraServlet</display-name>
  	<description></description>
  	<servlet-class>servlets.unosRepertoaraServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>unosFilmaServlet2</servlet-name>
  	<display-name>unosFilmaServlet2</display-name>
  	<description></description>
  	<servlet-class>servlets.unosFilmaServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>unosFilmaServlet1</servlet-name>
  	<url-pattern>/unosFilma</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>unosRepertoaraServlet</servlet-name>
  	<url-pattern>/unosRepertoara</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>unosFilmaServlet2</servlet-name>
  	<url-pattern>/unosFilmaServlet2</url-pattern>
  </servlet-mapping> 
</web-app>
